<form action="" method="POST">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 form-group">
            <label class="required control-label" for="card-name">
                Card Holder Name
            </label>
            <input class="form-control card-name" type="text" autocomplete="off" id="card-name" required/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 form-group">
            <label class="required control-label" for="card-number">
                Card Number
            </label>
            <input type="text" autocomplete="off" class="form-control " id="card-number" required/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-sm-offset-2 form-group">
            <label class="required control-label" for="card-expiration">
                Expiration
            </label>
            <input type="text" size="4" autocomplete="off" class="form-control required" id="card-cvc" required="required" placeholder="mm/yy"/>
        </div>
        <div class="col-xs-4 col-sm-3 form-group">
            <label class="required control-label" for="card-cvc">
                CVC
            </label>
            <input type="text" size="4" autocomplete="off" class="form-control card-cvc required" id="card-cvc" required="required"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-3 col-sm-offset-2 form-group">
            <label class="required control-label" for="card-zip">
                Postal Code
            </label>
            <input type="text" autocomplete="off" class="form-control" id="card-zip"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-2 buttons text-center">
            <button type="submit" class="btn btn-lg btn-danger">
                Checkout
            </button>
        </div>
    </div>
</form>
