{% extends 'base.html.twig' %}

{% block body %}
<div class="hero-space">
</div>

</div>
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for product in products %}
                    <div class="col-xs-4">
                        <div class="shear-product">
                            <img class="center-block shear-product-img" height="100" src="{{ asset('uploads/'~product.imageFilename) }}"/>
                            <p class="text-center shear-product-title"><a href="{{ path('product_show', {slug: product.slug}) }}">{{ product.name }}</a>
                            <span>${{ product.price }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
