{% extends 'base.html.twig' %}

{% block body %}
    <table>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', {slug: product.slug}) }}">{{ product.name }}</a>
                </td>
                <td>{{ product.price }}</td>
                <td><img width="100"
                         src="{{ asset('uploads/'~product.imageFilename) }}"/>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}